.container {
  min-height: 80vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(/family.png) 97%  10em no-repeat;
  background-size: 700;
}

@media screen and (max-width: 567px) {
  .container {
    padding: 0;
    background-size: 400px;
    background-position: 130px -4em;
  }
}
